


@media (min-width: 0px) {
    .bl-0 {
        border: none;
    }
}

@media (min-width: 576px) {
    .b-left {
        border-right: 1px solid #dddddd2c;
    }
}

@media (min-width: 992px) {
    .bl-lg-left {
        border-right: 1px solid #dddddd2c;
    }
}
@media (min-width: 0px) {
    .fsc-7 {
        font-size: 0.7rem ;
    }
}

@media (min-width: 576px) {
    .fsc-7 {
        font-size: 0.9rem ;
    }
}

@media (min-width: 992px) {
    .fsc-7 {
        font-size: 0.9rem ;
    }
}



