$basic-color        : #72c02c;
$basic-another-color: rgb(255, 255, 255);
$basic-dark-color   : rgb(255, 255, 255);
$text-color         : #555;
$text-o-color       : rgba(91, 89, 89, 0.153);
$text-white-color   : white;
$background-o-color : #dddddd2c;
$trs                : 0.5s;
$text-opacity-color : #898989;
$contact-text-color : rgba(255, 255, 255, 0.646);
$tc-color           : rgba(255, 255, 255, 0.646);